.sheets
{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

body.lock
{
    overflow: hidden;
}

.sheets__main
{
    position: relative;
    width: 100%;
}

.sheets__head
{
    display: flex;
    width: 87.5%;
    margin: 1.9% 0px 0px 6.37%;
}

.logo
{
    width: 12.08%;
    max-width: 203px;
    margin-top: -11px; 
}

.highlite
{
    color: #EE58B6;
}

.navigation
{
    display: flex;
    width: 469px;
    margin: 10px 99px auto auto;
}

.navigation-in-button
{
    display: none;
}

.navigation-field__text
{
    display: none;
}

.button-img
{
    display: none;
}

.navigation__text
{
    font: normal 500 16px/20px Montserrat;
    flex: none;
    margin: 0px 87px 0px 0px;
}

.button-popup
{
    text-decoration: none;
}

.sheets__navigation-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 33.5px;
    border: 0px;
    cursor: pointer;

    width: 248px;
    height: 55px;
    margin: -9px -15px 0px 0px;
    background: #05090C;
    border-radius: 4.5px;

    font: normal 600 16px /16px Montserrat;
    color: white;
}

.sheets__hidding-button
{
    display: none;
}

.main__inviting
{
    display: flex;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.inviting__text-block
{
    width: 39.2%;
    margin: 11.7% 0px 0px 9.3%; 
}

.inviting__text-block_alocate
{
    font: normal 600 100px /1.23 Montserrat;
    margin: 0px;
}

.inviting__text-block_information
{
    width: 68%;
    margin: 21px 0px 0px 0px;
    font: normal 400 26px /120% 'Roboto Condensed';
    color: rgba(0, 0, 0, 0.7);
}

.inviting__button
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 44.5%;
    margin: 6% 0px 0px;
    padding: 2.6% 11%;

    background: hsl(206, 41%, 3%);
    border-radius: 5px;
    border: 0px;

    font: normal 600 16px /16px Montserrat;
    color: white;
}

.inviting__done-image
{
    width: 48.75%;
    max-width: 763px;
    margin: 3.9% 0% 0% 1.5%;
}

.main__ad-information
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 398px;
    margin: 65px 0px 0px 0px;
    background: #000;
}

.ad-information__info
{
    display: flex;
    width: 59.8%;
    margin:0px 0px 0px 1.7%;
}

.ad-information__info_for-whom
{
    width: 25%;
    left: 1px;
    top: 0px;
    margin: 4.5% 0px 0px -1.4%;
}

.ad__img_clock
{
    width: 50px;
    margin: 22.8% 0px 0px 44.9%;
}

.info__for-whom_text
{
    width: 106.6%;
    margin: 6.5% 0px 0px 0px;

    font: normal 400 22px /1.2 'Roboto Condensed';
    color: white;
    text-align: center;
}

.ad-information__info_method
{
    width: 29.7%;
    margin: 2px 0px 0px 0px;
}

.ad__img_notebook
{
    width: 61px;
    margin: 32% 0px 0px 77.5%;
}

.info__method_text
{
    width: 100%;
    margin: 4.5% 0px 0px 37%;
    font: normal 400 22px /1.2 'Roboto Condensed';
    text-align: center;
    color: white;
}

.ad-information__info_cours
{
    width: 25%;
    margin: 0px 0px 0px 0px;
}

.ad__img_target
{
    width: 61px;
    margin: 38% 0px 0px 122.2%;
}

.info__cours_text
{
    width: 100%;
    margin: 6% 0px 0px 83%;
    font: normal 400 22px /1.2 'Roboto Condensed';
    text-align: center;
    color: white;
}

.main__creative
{
    display: flex;
    width: 100%;
    margin: 0px 0px 0px 0%;
}

.creative__finances
{
    width: 95%; 
    max-width: 538px;
    margin: 3.6% 0px 2.8% 19.2%;
    order: 1;
}

.creative__text
{
    width: 100%;
    margin: 15.6% 0px 0px 0px;
    order: 2;
}

.text__alocate-creative
{
    width: 38%;
    margin: 0px 0px 0px 52px;
    font: normal 500 48px /1.26 Montserrat;
}

.text__main-text-creative
{
    width: 58%;
    margin: 24px 0px 0px 52px;
    color: rgba(0, 0, 0, 0.7);
    font: normal 400 18px /1.35 'Roboto Condensed';
}

.main__when
{
    display: flex;
    flex-direction: row-reverse;
    width: 59.55%;
    margin: -4px 0px 0px 20.7%;
}

.when__text
{
    order: 2;
}

.when__omg
{
    width: 44.405%;
    max-width: 504px;
    margin: -1px 0px 0px 12.79%;
    order: 1;
}

.text__alocate-when
{
    width: 80%;
    margin: 58% 0px 0px 0px;

    font: normal 500 48px /1.26 Montserrat;
}

.text__main-text-when
{
    width: 100%;
    margin: 5.4% 2px 0px 0px;

    font: normal 400 18px /1.4 'Roboto Condensed';
    color: rgba(0, 0, 0, 0.7);
}

.main__adventage
{
    width: 59.114%;
    margin: 98px 0px 0px 20.6%;
}

.adventage__text
{
    width: 50%;
    margin: 0px 0px 0px 26%;
    font: normal 500 48px /59px Montserrat;
}

.levels
{
    width: 100%;
    margin: 5.36% 0px 0px 0px;
}

.levels__first
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin: -1px -5px 0px 0px;
}

.levels__second
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin: 2.7% -5px 0px 0px;
}

.element
{
    width: 32%;
    max-width: 358px;
    background: #000000;
    border-radius: 7px;
    margin: 0px -6px 0px 2px;
}

.text
{
    font: normal 400 18px /21px 'Roboto Condensed';
    color: white;
}

.one__img
{
    height: 49px;
    margin: 8% 0px 0px 11%;
}

.one__text
{
    width: 67%;
    margin: 5.2% 0px 13% 11%;
}

.two__img
{
    height: 49px;
    margin: 8% 0px 0px 11%;
}

.two__text
{
    width: 63%;
    margin: 5.5% 0px 12.5% 11%;
}

.three__img
{
    width: 46px;
    margin: 8% 0px 0px 11%;
}

.three__text
{
    width: 67%;
    margin: 5.1% 0px 13% 11%;
}

.four__img
{
    width: 41px;
    margin: 9% 0px 0px 11%;
}

.four__text
{
    width: 71%;
    margin: 4.8% 0px 12.6% 11%;
}

.five__img
{
    width: 51px;
    margin: 9% 0px 0px 11%;
}

.five__text
{
    width: 56%;
    margin: 4.8% 0px 12.6% 11%;
}

.six__img
{
    width: 36px;
    margin: 9% 0px 0px 11%;
}

.six__text
{
    width: 82%;
    margin: 4.8% 0px 12.6% 11%;
}

.sheets__footer
{
    width: 100%;
}

.footer__finish
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 108px;
    margin: 15.2% 0px 0px 0px;
    background: #000;
}

.finish__text
{
    font: normal 700 31px /1.22 Montserrat;
    letter-spacing: -0.045em;
    margin: 2px 0px 0px 1%;
    color: white;
}

.hidden-fix
{
    position: fixed;
}

.popup
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open 
{
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content
{
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    opacity: 1;
}

.popup__body
{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup__content
{
    background-color: #fff;
    color: #000;
    width: 33.6%;
    border-radius: 12px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close
{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.popup__esc
{
    margin: 14% 0% 0% -25%;
}

.popup__title
{
    font-size: 40px;
    padding: 0 0 1em 0;
}

.login
{
    align-items: center;
}

.login__welcome
{
    margin: 7% 0% 0% 27%;
}

.login__form
{ 
    text-align: center;
    flex-direction: column;
    margin: 5% 0% 0% 0%;
}

.form__title
{
    text-align: center;
    font: normal 500 26px /1.2 Montserrat;
    margin: 4.9% 2% 0% 0%;
}

.form__group
{
    width: 74%;
    margin-left: 11.9%;
}

.form__input-reg,
.form__choice
{
    margin-left: 4px;
    width: 94.5%;
    padding: 4.1% 0% 4.1% 5.5%;
    margin-bottom: 3.99%;
    font: normal 500 18px /1.2 Montserrat;
    border-radius: 4px;
    border-color: #C0C0C0;
    color: #404040;
    border: 2px solid #C0C0C0;
}

.form__input-reg._error {
    border-color: #EE5858;
}

.form__choice
{
    appearance: none;
    width: 101%;
    padding: 4.3% 0% 3.8% 5.3%;
    z-index: 1;
}

.form__choice:hover
{
    cursor: pointer;
}

.group__choice-img
{
    z-index: 2;
    position: absolute;
    margin: 4% 0% 0% 67%;
}

.form__input-reg::placeholder
{
    margin-left: 15%;
    color:#9999;
}

.choice__profession
{
    color:#444444;
    border-radius: 10px;
    height: 55px;
    margin-top: 5%;
}

.choice__profession:hover
{
    cursor: pointer;
}

.choice__profession
{
    background-color: white;
}

.form__choice
{
    color: #C0C0C0;
}

/* Checkbox */

.form__checkbox
{
    position: relative;
    margin: 3.3% 0% 0% 1.4%;
    z-index: 1;
    width: 100%;
}

.checkbox__input
{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;  
}

.checkbox__label
{
    padding-left: 4.5%;
    padding-top: 0.29%;
    margin: -0.5% 0% 0% -39%;
    font: normal 400 16px /1.2 'Roboto Condensed';
    position: absolute;
}

.checkbox__label:hover
{
    cursor: pointer;
}

.checkbox__label:before
{
    content: "";
    display: block;
    width: 22px;
    height: 22px;

    background: url("checkbox.svg"); 

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox__label:after
{
    content: "";
    display: block;
    width: 22px;
    height: 22px;

    background: url("check.svg") no-repeat;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.checkbox__input:checked + .checkbox__label::after
{
    opacity: 1;
} 

/***************/

.form__button
{
    font: normal 500 18px /1.2 Montserrat;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    width: 75%;
    margin: 8.2% 0% 14.5% 0%;
    padding: 3.5% 0% 2.8% 0%;
    
}

.form__button:hover
{
    cursor: pointer;
}




